<div class="w-56 flex flex-col px-2 rounded-lg shadow-2xl hover:cursor-pointer bg-gray-950 hover:shadow-orange-600 hover:shadow-custom transition-transform duration-300 hover:scale-110 ">
    <div class="h-full py-2 w-full">
        <img class=" aspect-square object-fill h-full w-full"
            src="https://th.bing.com/th/id/OIP.8TD_d_dRAQZ9nMWBjjB8pwAAAA?rs=1&pid=ImgDetMain" alt="">
    </div>
    <div class="m-1">
        <div class="text-2xl font-bold italic">
            The Hobbit
        </div>
        <div class="text-lg">
            autor
        </div>
        <small>
            numero
        </small>
    </div>
</div>